.inner-page{
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/Index/bcg-slice.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.page-title{
  font-size: 30px;
  line-height: 42px;
}
.breadcrumbs{
  list-style: none;
  &-current{
    color: #aba9a7;
  }
}
.breadcrumbs a{
  color: #000000;
  &:hover,
  &:focus{
    text-decoration: underline;
  }
}
.filter fieldset{
  border: none;
}
.filter legend{
  font-size: 24px;
  line-height: 30px;
}
.filter ul{
  list-style: none;
  line-height: 18px;
}
.filter-input:hover + label,
.filter-input:focus + label{
  color: #663d15;
}
.filter-input:disabled + label{
  color: #000000;
  opacity: 0.5;
}
.catalog-list{
  list-style: none;
}
.catalog-item{
  background-color: #f8f8f8;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.1);
  &:hover{
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
  }
}
.catalog-item a{
  color: #000000;
}
.catalog-item h3{
  font-size: 14px;
  line-height: 18px;
}
.catalog-category{
  text-transform: none;
}
.catalog-item-price b{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: #e5e5e5;
}
.catalog-item-price .button{
  line-height: 20px;
  color: #ffffff;
}
.pagination-list{
  list-style: none;
}
.pagination-item a{
  color: #ffffff;
  background-color: #000000;
  &:hover,
  &:focus,
  &:active{
    background-color: #663d15;
  }
}
.pagination-item-current a{
  color: #000000;
  background-color: #ffffff;
  &:hover,
  &:focus,
  &:active{
    color: #000000;
    background-color: #ffffff;
  }
}
.product-photo-preview{
  list-style: none;
}
.product-photo-preview li{ 
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
.product-photo-full{
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
.product-article{
  text-align: right;
  color: #aeaeae;
}
.product-price b{
  line-height: 20px;
  text-align: center;
  background-color: #e5e5e5;
}
.product-info h3{
  font-size: 24px;
  line-height: 30px;
}
.product-info ul{
  list-style: none;
}